[Unit]
Description=Volume button service
After=headphones.service panicos-bt-wakeup.service
Before=rocknix.target
StartLimitIntervalSec=0

[Service]
Environment=HOME=/storage
ExecStartPre=/bin/sh -c 'echo -ne "\033[1000H\033[2K==> Starting input daemon..." >/dev/console'
ExecStart=/usr/bin/input_sense
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
